<%= form_tag login_path, method: :post do %>
    <div class="field">
      <%= label_tag :name %></br>
      <%= text_field_tag :name %>
    </div>
    <div class="actions">
     <%= submit_tag "Login" %>
    </div>
  <% end %>
